<div class="col-lg-12">
    <div class="row">
    <div  class="col-lg-4 col-md-6 mb-4" *ngFor="let i of items; let ind = index">
        <div *ngIf="i.isDiscount" style="background-color: #95afc0; padding: 20px;">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""/></a>
            <div class="card-body">
                <h4 class="card-title">
                <a routerLink="/item-details/{{i.id}}">{{ i.title | uppercase }}</a>&nbsp; <small>Discount {{i.discount}}%</small>
                </h4>
                
                <h5><s>₹ {{ i.price + (i.price | calDiscount: i.discount)}} MRP</s></h5>
                <h5>₹ {{ i.price }} </h5>
                <h6>You Saved ₹ {{ i.price | calDiscount: i.discount }}</h6>
                <p appHiglight highlightColor="red" class="card-text">{{ i.description | uppercase}}</p>
            
                <span class="badge badge-primary">This product has discount</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
            
            </div>
        </div>
        <div class="border border-grey" *ngIf="i.isDiscount==false" style="background-color: #fff; padding: 20px;">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a routerLink="/item-details/{{i.id}}">{{ i.title | uppercase }}</a>&nbsp; <small>No Discount</small>
                </h4>
                <h5>₹ {{ i.price }} </h5>
                <p appHiglight highlightColor="red" class="card-text">{{ i.description | uppercase }}</p>
            
                <span class="badge badge-primary">This product does not have discount</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
            
            </div>
        </div>
    </div>
    </div>
</div>